<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
  
    
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a asp-controller="Home" asp-action="Index">
                    <img class="img-responsive" alt="" src="~/Images/logo.png" width="120" height="70" style="float:left" />
                </a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">

                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li> @await Component.InvokeAsync("CategoryMenu")</li>
                        <li><a asp-controller="Home" asp-action="ContactUs">Contact us</a></li>
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                    <div class="login">
                        <partial name="_LoginPartial" />
                    </div>                   
                </div>
            </div>
        </nav>
        <div class="row">

            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)

    <footer class="border-top footer text-muted">
        <div class="container">

            &copy; 2022 - Sneakers Footprint  |
            <a asp-controller="Home" asp-action="Privacy">Privacy</a> |
            <a asp-controller="Home" asp-action="AboutUs">About us</a> |
            <a asp-controller="Home" asp-action="ContactUs">Contact us</a>
            <img class="img-responsive" alt="" src="~/Images/mediaicon.jpg" width="80" height="30" style="float:right" />
        </div>
    </footer>

</body>
</html>