@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<h3>Overview</h3>
<p>
    As an online sneaker shoes retailer, at Sneakers Footprint, we’re all about Sneakers, our online shop is to making it easy, convenient and efficient for you to shop Sneakers online.
    While we are trying to keep up with the latest fashion trend in it, we are developing our own unique label to cater for men and women, as well as kids sneaker fashion, offering you new styles at an affordable price.
</p>
<p>
    We provide FREE delivery in all over Sweden on purchased through sneakersfootprint.com.
</p>
Sneakerfootprint.com is a great place to shop.Our online fashion shop offer:
<ul>
    <li>Competitive prices</li>
    <li>Free delivery all orders</li>
    <li>Secure real time payment gateway</li>
    <li>One page check out</li>
    <li> free shopping anytime</li>
</ul>
<p>Sneakerfootprint.com online shop was opened in 2021, is owned and operated by Sneaker Footprint AB.</p>
<h4>Registered address</h4>
<address>
    Sneakers Footprint AB<br>
    Aabbbbb 12<br>
    22222 Malmo<br>
    Sweden
</address>
Organisation Number: 22222-1111