@{
    ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>


<p>
    <div class="row">
        <div class="col-md-4">
            <h3>Post address</h3>
            <h4>Products & Orders</h4>
            <p>
               <address>
                    Sneakers Footprint AB<br>
                    Aabbbbb 12<br>
                    22222 Malmo<br>
                    Sweden
                </address>
            </p>


        </div>
        <div class="col-md-4">
            <h3>Customer service</h3>
            <h4>Products & Orders</h4>
            <p>+46(0)762491111 <br> 9:00 - 18:00 <br> Monday - Friday <br> 9:00 - 14:00 <br> Saturday </p>

        </div>
        <div class="col-md-4">
            <h3>Email us</h3>
            <p>Send us email if you have any question.</p>
            <p>Email: info@sneakerfootprint.com</p>

        </div>
    </div>
</p>
<p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>