@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    sneakersfootprint.com online shopping site is strongly committed to protecting your privacy while interacting with our content, products and services. We want to provide a safe and secure environment for you and your children. We will endeavor, at all times, to ensure that information provided by you is collected and held in accordance with relevant EU privacy laws.
    <h3>Use And Processing Of Your Information</h3>

    In addition to the specific situations discussed elsewhere in this policy, we disclose information in the following situations:

    <ul style="list-style-type:circle">
        <li>To identify you when you visit our websites or our stores.</li>
        <li>To provide products and services you request or to process returns.</li>
        <li>To improve our services and product offerings.</li>
        <li>To streamline the checkout process.</li>
        <li>To conduct analytics.</li>
        <li>To respond to inquiries related to support or other requests.</li>
        <li>To send marketing and promotional materials, including information relating to our products, services, sales, or promotions.</li>
        <li>For internal administrative purposes, as well as to manage our relationship with you.</li>
        <li>To assist in detecting security incidents, and protecting against malicious, deceptive, fraudulent, or illegal activity.</li>
    </ul>
</p>
<p>
    <h3>Sharing Of Information</h3>
    In addition to the specific situations discussed elsewhere in this policy, we disclose information in the following situations:
    <ol>
        <li>
            Affiliates and Acquisitions. We may share your information with our corporate affiliates (e.g., parent company, sister companies, subsidiaries, joint ventures, or other companies under common control). If another company acquires our company, business, or our assets, we will also share your information with that company, including at the negotiation stage.
        </li>
        <li>
            Other Disclosures with Your Consent. We may ask if you would like us to share your information with other unaffiliated third parties who are not described elsewhere in this policy.
        </li>
        <li>
            Other Disclosures without Your Consent. We may disclose your information in response to subpoenas, warrants, or court orders, or in connection with any legal process, or to comply with relevant laws. We may also share your information in order to establish or exercise our rights, to defend against a legal claim, to investigate, prevent, or take action regarding possible illegal activities, suspected fraud, safety of person or property, or a violation of our policies, or to comply with your request for the shipment of products to or the provision of services by a third party intermediary.
        </li>
        <li>
            Public. You may have the opportunity to post comments, or reviews, in a public forum. If you decide to submit information on these pages, that information may be publicly available.
        </li>
        <li>
            Partner Promotion. We may offer contests, sweepstakes, or other promotions with third party partners. If you decide to enter a contest, sweepstakes, or promotion that is sponsored by a third party partner, the information that you provide will be shared with us and with them. Their use of your information is not governed by this privacy policy.
        </li>
    </ol>
</p>
